In [ ]:
import pandas as pd
#Read .csv file
df = pd.read_csv('Market_Basket_Optimisation.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Convert dataframe to list of transaction
transactions = df.stack().groupby(level=0).apply(list).tolist()
#Get first 100 transactions
transactions = transactions[:100]
transactions[:10]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil'],
 ['burgers', 'meatballs', 'eggs'],
 ['chutney'],
 ['turkey', 'avocado'],
 ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea'],
 ['low fat yogurt'],
 ['whole wheat pasta', 'french fries'],
 ['soup', 'light cream', 'shallot'],
 ['frozen vegetables', 'spaghetti', 'green tea'],
 ['french fries']]

In [ ]:
def Eclat(P, minsup, F):
  """
  Eclat algorithm
  Input: P (dict) 1-itemset with tidsets; minsup (int) as minium support;
         F (list) is result as list of frequent itemset
  Output: list of frequent itemset.
  """
  for Xa, tXa in P.items():
    F.append([(Xa), len(tXa)])
    Pa = {}
    for Xb, tXb in P.items():
      if Xb > Xa:
        Xab = tuple(set([Xa]) | set([Xb]))
        tXab = list(set(tXa) & set(tXb))
        if len(tXab) >= minsup:
          Pa[Xab] = tXab
    if Pa!={}:
      Eclat(Pa, minsup, F)

In [ ]:
#Create P 1-itemset
P = {}
count_tid = 1
for trans in transactions:
  for item in trans:
    if item in P:
      P[item].append(count_tid) 
    else:
      P[item] = [count_tid]
  count_tid+=1

P.items()

dict_items([('shrimp', [1, 17, 21, 24, 70, 92]), ('almonds', [1, 95]), ('avocado', [1, 4, 24, 26, 32, 46, 49, 68]), ('vegetables mix', [1]), ('green grapes', [1]), ('whole weat flour', [1]), ('yams', [1, 30]), ('cottage cheese', [1, 39]), ('energy drink', [1, 59, 63, 86]), ('tomato juice', [1]), ('low fat yogurt', [1, 6, 17, 77, 88, 90, 91, 93]), ('green tea', [1, 5, 9, 23, 40, 46, 50, 51, 59, 60, 64, 82, 90, 95, 100]), ('honey', [1, 17, 20, 24, 42]), ('salad', [1, 89]), ('mineral water', [1, 5, 13, 15, 16, 19, 23, 27, 29, 30, 32, 38, 39, 42, 47, 48, 52, 57, 60, 68, 77, 79, 83, 84, 92]), ('salmon', [1, 15, 19, 27, 36]), ('antioxydant juice', [1]), ('frozen smoothie', [1, 27, 42, 87]), ('spinach', [1]), ('olive oil', [1, 57, 92]), ('burgers', [2, 13, 24, 50, 72, 82, 84, 90, 92, 95]), ('meatballs', [2, 20, 44, 92]), ('eggs', [2, 11, 13, 18, 19, 21, 25, 29, 32, 52, 58, 65, 75, 78, 81, 84, 92, 95, 98]), ('chutney', [3]), ('turkey', [4, 13, 18, 19, 33, 57, 60, 65, 97]), ('milk', [5, 20, 26, 27, 57, 67, 82]), ('energy bar', [5, 27, 37, 83, 85, 86, 92]), ('whole wheat rice', [5, 42, 68]), ('whole wheat pasta', [7, 68, 100]), ('french fries', [7, 10, 20, 29, 33, 37, 46, 55, 66, 81, 82, 83, 90, 95]), ('soup', [8, 26, 44, 46, 57, 59, 64, 75, 96]), ('light cream', [8, 31]), ('shallot', [8, 64, 72]), ('frozen vegetables', [9, 30, 34, 42, 57, 60, 97, 100]), ('spaghetti', [9, 14, 19, 23, 26, 27, 30, 36, 41, 42, 43, 51, 53, 54, 57, 61, 79, 82, 92, 100]), ('pet food', [11]), ('cookies', [12, 14, 35, 58, 69, 73, 76, 95, 98, 99]), ('cooking oil', [13, 17, 60, 84]), ('champagne', [14, 40, 55, 93, 94]), ('chocolate', [17, 21, 29, 32, 34, 51, 54, 57, 67, 77, 87, 100]), ('chicken', [17, 19, 29, 47, 59]), ('oil', [17, 97]), ('fresh tuna', [19, 42, 52, 57]), ('tomatoes', [19, 57, 71]), ('black tea', [19, 27, 50]), ('extra dark chocolate', [19, 97]), ('protein bar', [20, 64]), ('red wine', [21, 38]), ('pasta', [21, 24, 70, 92]), ('pepper', [21, 97]), ('shampoo', [21]), ('rice', [22]), ('sparkling water', [22, 28, 44]), ('ham', [23, 96, 97]), ('body spray', [23, 46, 59, 96]), ('pancakes', [23, 46]), ('grated cheese', [24, 71, 79, 84]), ('white wine', [24, 51, 79]), ('toothpaste', [24]), ('parmesan cheese', [26]), ('fresh bread', [26]), ('ground beef', [27, 38, 57, 68, 79, 100]), ('escalope', [27, 36, 42, 45, 55, 72, 96]), ('herb & pepper', [31, 68, 71, 84, 92]), ('tomato sauce', [31, 56, 71]), ('magazines', [31, 97]), ('strawberries', [33, 78]), ('strong cheese', [34]), ('pickles', [36, 40]), ('cake', [39, 81]), ('hot dogs', [44, 46]), ('brownies', [46, 51]), ('cereals', [47]), ('clothes accessories', [47, 62]), ('bug spray', [48, 64]), ('muffins', [49, 53, 98]), ('light mayo', [56]), ('gums', [59]), ('soda', [59]), ('cider', [60, 68]), ('corn', [71]), ('yogurt cake', [74]), ('mint', [80]), ('butter', [83]), ('asparagus', [89]), ('french wine', [92]), ('salt', [92]), ('tea', [97])])

In [ ]:
F = [] #Initial F
minsup = 5 #Initial minsup
#remove items with sup < minsup
for key, value in list(P.items()):
  if (len(value) < minsup):
    del P[key]

In [ ]:
Eclat(P,minsup,F)
F

[['shrimp', 6],
 ['avocado', 8],
 ['low fat yogurt', 8],
 ['green tea', 15],
 [('green tea', 'spaghetti'), 5],
 ['honey', 5],
 ['mineral water', 25],
 [('spaghetti', 'mineral water'), 8],
 ['salmon', 5],
 ['burgers', 10],
 [('eggs', 'burgers'), 5],
 ['eggs', 19],
 [('eggs', 'mineral water'), 7],
 ['turkey', 9],
 ['milk', 7],
 ['energy bar', 7],
 ['french fries', 14],
 ['soup', 9],
 ['frozen vegetables', 8],
 [('frozen vegetables', 'spaghetti'), 5],
 ['spaghetti', 20],
 ['cookies', 10],
 ['champagne', 5],
 ['chocolate', 12],
 ['chicken', 5],
 ['ground beef', 6],
 [('ground beef', 'mineral water'), 5],
 ['escalope', 7],
 ['herb & pepper', 5]]